{% extends "base.html" %}
{% load i18n bootstrap %}
{% block subtitle %}{% trans "New node" %}{% endblock subtitle %}
{% block content %}
    <div class="module">
        <div class="module-body inner">
            <form action="" method="post">{% csrf_token %}
                {{ form|bootstrap }}
                <button class="btn btn-warning preview" data-target="#id_description">{% trans "Preview" %}</button>
                <button class="btn btn-success" type="submit">{% trans "Submit" %}</button>
            </form>
        </div>
    </div>
{% endblock content %}