{% extends "base.html" %}
{% load i18n bootstrap %}
{% block subtitle %}{% trans "Signup" %}{% endblock subtitle %}
{% block main %}
    <form class="form-single" action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            {% if field.name == 'tos' %}
                <div class="checkbox">
                    <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
                </div>
            {% else %}
                <div class="form-group">
                    {{ field|bootstrap }}
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-success">{% trans "Signup" %}</button>
        <div style="border-top: 1px solid #ddd; margin-top: 8px; padding-top:8px; text-align: center;">
            <a href="{% url 'socialauth_begin' 'facebook' %}" class="btn btn-primary btn-xs"><i class="fa fa-facebook"></i> Facebook</a>
            <a href="{% url 'socialauth_begin' 'github' %}" class="btn btn-default btn-xs"><i class="fa fa-github"></i> Github</a>
            <a href="{% url 'socialauth_begin' 'google-oauth2' %}" class="btn btn-danger btn-xs"><i class="fa fa-google-plus"></i> Google</a>
            <a href="{% url 'socialauth_begin' 'twitter' %}" class="btn btn-info btn-xs"><i class="fa fa-twitter"></i> Twitter</a>
        </div>
    </form>
{% endblock main %}