{% load humanize %}
<div class="items">
    {% for topic in object_list %}
        <div class="item">
            <a href="{% url 'userena_profile_detail' topic.author.username %}" class="avatar"><img src="{{ topic.author.profile.get_mugshot_url }}" alt=""></a>
            <h3 class="title"><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></h3>
            <div class="meta">
                {% if show_node %}
                    <a class="btn btn-default btn-xs" href="{{ topic.node.get_absolute_url }}" class="node">{{ topic.node.name }}</a>
                    &middot;
                {% endif %}
                <a href="{% url 'userena_profile_detail' topic.author.username %}" class="author">{{ topic.author.username }}</a>
                &middot;
                <div class="counter">{{ topic.num_replies }} / {{ topic.num_hits }}</div>
                &middot;
                <div class="last-reply-on">{{ topic.last_reply_on|naturaltime }}</div>
            </div>
        </div>
    {% endfor %}
</div>